#applying-data-science {
  background: linear-gradient(
    90deg,
    rgba(244, 247, 252, 1) 36%,
    rgba(255, 255, 255, 1) 100%
  );
  overflow: hidden;
  
  .content {
    margin-top: 80px;
    margin-bottom: 80px;
    h1 {
      font-size: 60px;
      font-weight: 800;
      line-height: 1;
      margin-bottom: 30px;
      span {
        font-size: 36px;
        display: block;
        font-weight: 200;
        margin-bottom: 20px;
      }
    }
    a {
      @include btn-plus-icon($white-color);
      margin-top: 15px;
    }
  }
  .image {
    img {
      max-width: 120%;
      height: auto;
      margin-left: 30px;
      overflow: hidden;
    }
  }
}

#first-slider {
  @extend %section-padding;
  position: relative;
  overflow: hidden;
  .slider {
    .owl-dots {
     .owl-dot{
       outline: none;
      span {
        display: block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #ffffff;
        z-index: 1;
        box-shadow: 0 0 10px #cccccc;
      }
    }
    }

    .active {
      span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 40%;
          top: 40%;
          line-height: 5px;
          height: 5px;
          width: 5px;
          background-color: $primary-color;
          border-radius: 50%;
        }
      }
    }
  }
  .item {
    margin-bottom: 25px;
      margin: 10px;
      padding: 50px;
      box-shadow: 0 0 10px #cccccc;
      border-radius: 10px;
      border-bottom: 3px solid #437eeb;
      .icon {
        font-size: 60px;
        margin-bottom: 30px;
        position: relative;
        display: inline-block;
        background: -moz-linear-gradient(
          90deg,
          rgba(3, 25, 65, 1) 0%,
          rgba(67, 126, 235, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(3, 25, 65, 1) 0%,
          rgba(67, 126, 235, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(3, 25, 65, 1) 0%,
          rgba(67, 126, 235, 1) 100%
        );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        // Fontaw
        &::after {
          position: absolute;
          left: -10px;
          top: 0;
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(
            62.5deg,
            transparent,
            rgba(237, 245, 255, 0.9)
          );
          z-index: -1;
          border-radius: 10px;
          transform: rotate(225deg);
        }
      }
      h3 {
        margin-bottom: 25px;
        font-weight: 700;
      }
      a {
        @include btn-transform($primary-color, $white-color);
      }
    
  }

  .background-image {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

#about {
  overflow: hidden;
  background-color: $section-background-color;
  h4 {
    font-weight: 800;
    color: $primary-color;
    font-size: 20px;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 15px;
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      height: 10px;
      width: 100%;
      background: $primary-color;
      z-index: -1;
      opacity: 0.1;
    }
  }
  h2 {
    font-weight: 700;
    position: relative;
    margin-bottom: 0;
    font-size: 36px;
    padding-bottom: 20px;
  }
  .tabs {
    margin-top: 50px;
    ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
      a {
        text-decoration: none;
        padding: 15px 25px;
        border-radius: 5px;
        font-weight: 700;
        color: $gray-color;
        position: relative;
      }
      a.active {
        background: linear-gradient(
          90deg,
          rgba(30, 85, 189, 1) 0%,
          rgba(67, 126, 235, 1) 100%
        );
        color: #ffffff;
        &::after {
          position: absolute;
          left: 50%;
          bottom: -15px;
          content: "";
          height: 15px;
          width: 1px;
          background: $primary-color;
        }
        &::before {
          position: absolute;
          left: 50.3%;
          bottom: -24px;
          content: "";
          height: 10px;
          width: 10px;
          border: 2px solid $primary-color;
          margin-left: -5px;
          border-radius: 50%;
        }
      }
    }
    .col-lg-7 {
      padding-right: 35px;
    }
    .tab-content {
      padding: 50px;
      background: #ffffff;
      border-top: 3px solid #437eeb;
      box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
      border-bottom: none;
      h3 {
        margin-bottom: 20px;
        font-weight: 700;
      }
      a {
        margin-top: 10px;
        @include btn-transform($primary-color, $white-color);
      }
      .tab-image {
        img {
          max-width: 100%;
        }
      }
    }

    .hide {
      display: none;
    }
  }
}

#fun-factor-area {
  @extend %section-padding;
  background-image: url("http://thememine.net/themeforest/anada/assets/img/map.svg");
  background-color: $section-background-color;
  overflow: hidden;
  .fun-factor-content {
    text-align: center;
    .timer {
      font-size: 50px;
      font-weight: 800;
      line-height: 1;
      margin-bottom: 15px;
      background: -webkit-linear-gradient(
        90deg,
        rgba(3, 25, 65, 1) 0%,
        rgba(67, 126, 235, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    span {
      font-weight: 600;
      font-size: 18px;
      color: $black-color;
    }
  }
}

#services {
  @extend %section-padding;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  &::after {
    @include section-left-after($section-background-color);
  }
  .services-header {
    margin-bottom: 60px;
    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 36px;
      margin-right: 95px;
    }
    a {
      @include btn-plus-icon($white-color);
    }
  }
  .image-animation {
    position: absolute;
    right: 50px;
    top: 120px;
    z-index: -1;
  }
  .services-content {
    .item {
      margin-bottom: 10px;
      box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
      padding: 50px 30px;
      background: #ffffff;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      z-index: 1;
      &::after {
        position: absolute;
        left: 0;
        bottom: -100%;
        content: "";
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, #437eeb 0%, #093ac1 100%);
        z-index: -1;
        @include transition(all 0.25s ease-in-out);
      }
      &:hover {
        color: $white-color;
        @include transition(all 0.25s ease-in-out);
        h4 {
          color: $white-color;
        }
        a {
          color: $white-color;
          border-color: rgba(170, 170, 170, 0.5);
        }
      }
      &:hover::after {
        bottom: 0;
      }
      img {
        width: 100px;
        height: auto;
        margin-bottom: 30px;
        min-height: 100px;
      }
      h4 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 700;
      }
      a {
        text-decoration: none;
        display: inline-block;
        text-align: center;
        color: $primary-color;
        position: relative;
        margin-top: 15px;
        border: 1px solid $gray-border-color;
        padding: 10px 30px;
        font-weight: 800;
        i {
          display: inline-block;
          height: 35px;
          width: 35px;
          line-height: 35px;
          text-align: center;
          color: $primary-color;
          font-size: 15px;
          border-radius: 50%;
          position: relative;
          box-shadow: 0 0 10px #cccccc;
          z-index: 1;
          margin-right: 5px;
          background: #ffffff;
        }
      }
    }
  }
}

#work-process {
  @extend %section-padding;
  overflow: hidden;
  .work-process-header {
    margin-bottom: 60px;
    h4 {
      font-weight: 800;
      color: #437eeb;
      font-size: 20px;
      position: relative;
      z-index: 1;
      display: inline-block;
      margin-bottom: 15px;
      &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        height: 10px;
        width: 100%;
        background: #437eeb;
        z-index: -1;
        opacity: 0.1;
      }
    }
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
  }

  .work-process-content {
    .item {
      padding: 0 15px;
      position: relative;
      &:hover > .text::before {
        height: 0;
      }
      .icon {
        position: relative;
        display: inline-block;
        height: 179px;
        i {
          margin-left: 10px;
          font-size: 50px;
          background: linear-gradient(
            90deg,
            rgba(30, 85, 189, 1) 0%,
            rgba(67, 126, 235, 1) 100%
          );
          border-radius: 50%;
          color: $white-color;
          height: 120px;
          line-height: 120px;
          width: 120px;
        }
        span {
          background: $white-color;
          position: absolute;
          right: 0;
          top: 0px;
          height: 35px;
          line-height: 35px;
          width: 35px;
          z-index: 1;
          color: $primary-color;
          font-weight: 800;
          font-size: 14px;
          border-radius: 50%;
          box-shadow: 0 0 10px #cccccc;
        }
      }
      .text {
        position: relative;
        h4 {
          font-weight: 800;
          font-size: 24px;
          margin-top: 40px;
          margin-bottom: 10px;
        }
        &::after {
          content: "";
          position: absolute;
          border: 2px solid #dddddd;
          border-radius: 50%;
          top: -80px;
          left: 50%;
          height: 14px;
          width: 14px;
        }
        &::before {
          content: "";
          position: absolute;
          border-left: 2px dashed #dddddd;
          height: 40px;
          width: 1px;
          left: 52%;
          top: -62px;
          @include transition(all 0.6s ease-in-out);
        }
      }
    }
    .right-arrow {
      &::after {
        position: absolute;
        right: -120px;
        top: 20px;
        content: "";
        background-image: url(/assets/img/homepage/direction-sign.png);
        height: 40px;
        width: 200px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
.work-process-bg{
  background-color: $section-background-color;
}

#skill {
  @extend %section-padding;
  position: relative;
  overflow: hidden;
 
  .skill-content {
    overflow: hidden;
    h2 {
      font-weight: 700;
      margin-bottom: 15px;
    }
    h3 {
      margin-bottom: 30px;
      font-weight: 600;
      color: $gray-color;
    }
    .progress-box {
      h5 {
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 5px;
        span {
          float: right;
        }
      }
      .progress {
        background: transparent;
        border-bottom: 2px solid #dddddd;
        box-shadow: inherit;
        border-radius: inherit;
        overflow: inherit;
        margin-bottom: 30px;
        .progress-bar {
          height: 6px;
          border-radius: 30px;
          background: linear-gradient(
            90deg,
            rgba(30, 85, 189, 1) 0%,
            rgba(67, 126, 235, 1) 100%
          );
          top: 12px;
          position: relative;
        }
      }
    }
  }
  .image-box {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
    padding-left: 35px;
    &::after {
      position: absolute;
      right: -40px;
      top: 35px;
      height: 500px;
      width: 500px;
      border: 50px solid #437eeb;
      content: "";
      z-index: -1;
      opacity: 0.07;
      border-radius: 50%;
    }
    img {
      margin-right: 20%;
      border: 10px solid $white-color;
      box-shadow: 0 0 10px #cccccc;
      max-width: 80%;
    }
    .second-img {
      position: absolute;
      right: -20%;
      bottom: 0;
      margin: 0;
      height: 60%;
      width: auto;
    }
  }
}
.skill-left-after{
  &::after {
    @include section-left-after($section-background-color);
  }
}

#testimonials {
  @extend %section-padding;
  padding-top: 0;
  overflow: hidden;
  .testimonials-header {
    margin-bottom: 60px;
    h4 {
      font-weight: 800;
      color: #437eeb;
      font-size: 20px;
      position: relative;
      z-index: 1;
      display: inline-block;
      margin-bottom: 15px;
      &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        height: 10px;
        width: 100%;
        background: #437eeb;
        z-index: -1;
        opacity: 0.1;
      }
    }
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
  }
  #carouselExampleIndicators {
    position: relative;
    padding-bottom: 120px;
    .carousel-item {
      .icon {
        display: inline-block;
        background: #edf5ff none repeat scroll 0 0;
        height: 70px;
        line-height: 70px;
        width: 70px;
        font-style: normal;
        font-size: 24px;
        color: $primary-color;
        border-radius: 50%;
        position: relative;
        margin-bottom: 30px;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          border-color: #edf5ff transparent transparent transparent;
          margin-left: -10px;
        }
      }
      h4 {
        font-weight: 700;
        margin-bottom: 5px;
        text-transform: capitalize;
        margin-top: 25px;
        border-top: 1px solid #e7e7e7;
        padding-top: 30px;
      }
      span {
        color: $primary-color;
        font-weight: 600;
      }
    }
    .carousel-indicators {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 35px;
      margin-right: 15%;
      margin-left: 15%;
      li {
        text-indent: 0;
        width: 45px;
        min-width: 45px;
        height: 45px;
        min-height: 45px;
        margin: 0px 5px;
        border: 5px solid $white-color;
        box-shadow: 0 0 10px #cccccc;
        border-radius: 50%;
        position: relative;
        align-items: center;
        @include transition(all 0.35s ease-in-out);
        img {
          position: absolute;
          border-radius: 50%;
          height: 45px;
          min-height: 45px;
          min-width: 45px;
          width: 45px;
          left: 0px;
          top: 0px;
          @include transition(all 0.35s ease-in-out);
        }
      }
      li.active {
        @include transition(all 0.35s ease-in-out);
        border: 5px solid $primary-color;
        width: 65px;
        height: 65px;
        margin-top: -10px;
        img {
          width: 65px;
          height: 65px;
          @include transition(all 0.35s ease-in-out);
        }
      }
    }
  }
}

#news {
  @extend %section-padding;
  background-color: $section-background-color;
  position: relative;
  overflow: hidden;
  &::after {
    @include section-left-after($white-color);
  }
  .news-header {
    margin-bottom: 60px;
    h2 {
      font-weight: 700;
      font-size: 36px;
    }
    a {
      @include btn-plus-icon($white-color);
    }
  }
  .news-content {
    .card {
      box-shadow: 0 0 10px #cccccc;
      border-radius: 10px;
      overflow: hidden;
      .card-body {
        padding: 55px 30px 30px;
        position: relative;
        .date{
          position: absolute;
          left: 30px;
          top: -60px;
          color: $black-color;
          font-weight: 600;
          display: inline-block;
          padding: 15px 30px;
          background-color: $white-color;
          box-shadow: 0 0 10px #cccccc;
          border-radius: 5px;
         strong{
           display: block;
         }
        }
        a {
          margin-top: 7px;
          @include btn-transform($primary-color, $white-color);
        }
        h4 {
          font-weight: 700;
          margin-bottom: 20px;
        }
        h6{
          font-size: 13px;
          color: $gray-color;
          margin-bottom: 20px;
          i{
            color: $primary-color;
            margin-right: 8px;
          }
        }
      }
    }
  }
}
