@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
body {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  color: #232323;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navbar {
  background: #ffffff;
  -webkit-box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.04);
  z-index: 100;
  position: relative;
}

#navbar button {
  color: black;
}

#navbar .navbar {
  position: relative;
  padding: 0em;
}

#navbar .navbar .search-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

#navbar .navbar .search-nav ul:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #e7e7e7;
  left: -10%;
  top: 0%;
}

#navbar .navbar .search-nav ul .search {
  position: relative;
}

#navbar .navbar .search-nav ul .search form {
  position: absolute;
  left: -15em;
  top: 62px;
  display: none;
  border: none;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

#navbar .navbar .search-nav ul .search form .input {
  width: 300px;
  height: 50px;
  padding-left: 25px;
  border: none;
  border-radius: 25px;
  outline: none;
}

#navbar .navbar .search-nav ul .search form a {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 15px;
}

#navbar .navbar .search-nav ul a {
  padding: 8px 10px;
  font-size: 18px;
  text-decoration: none;
  color: #333333;
}

#navbar .navbar .navbar-brand img {
  position: relative;
  z-index: 1;
  left: -15px;
}

#navbar .navbar .navbar-brand::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 92px;
  width: 12em;
  background-color: #437eeb;
}

#navbar .navbar .nav-item {
  padding: 30px 25px;
}

#navbar .navbar .nav-item a {
  letter-spacing: 0.06em;
  padding: 0;
  font-weight: 800;
  font-size: 13px;
  color: #333333;
  display: block;
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

#navbar .navbar .nav-item a:hover {
  color: #437eeb;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#navbar .navbar .dropdown {
  z-index: 1;
  position: relative;
}

#navbar .navbar .dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

#navbar .navbar .dropdown:hover > .nav-link {
  color: #437eeb;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#navbar .navbar .dropdown:hover > .nav-link::after {
  content: "\f106";
  color: #437eeb;
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

#navbar .navbar .dropdown .nav-link {
  position: relative;
}

#navbar .navbar .dropdown .nav-link::after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  display: inline-block;
  vertical-align: middle;
  color: black;
  position: absolute;
  right: -14px;
  top: 0px;
  -webkit-transition: all 0.55s ease-in-out;
  transition: all 0.55s ease-in-out;
}

#navbar .navbar .dropdown .hover-menu {
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  visibility: hidden;
  position: absolute;
  width: 250px;
  background: white;
  font-size: 14px;
  -webkit-box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#navbar .navbar .dropdown .hover-menu li {
  border-bottom: 1px solid rgba(196, 196, 196, 0.24);
  padding: 0px;
}

#navbar .navbar .dropdown .hover-menu li:last-child {
  border: none;
}

#navbar .navbar .dropdown .hover-menu li a {
  text-decoration: none;
  color: #333333;
  padding: 10px 15px;
  font-weight: 600;
}

#navbar .navbar .dropdown .hover-menu li a:hover {
  color: #437eeb;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#navbar .side-menu {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 50px;
  width: 400px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  background-color: #ffffff;
  height: 100%;
  -webkit-box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}

#navbar .side-menu .close-side {
  position: absolute;
  right: 10%;
  top: 4%;
  font-size: 25px;
  color: #f44336;
}

#navbar .side-menu .content {
  margin-bottom: 50px;
}

#navbar .side-menu .content h4 {
  display: block;
  font-weight: 800;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #dddddd;
}

#navbar .side-menu .side-contact-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 30px;
}

#navbar .side-menu .side-contact-info li:last-child {
  padding: 0;
}

#navbar .side-menu .side-contact-info li .info span {
  display: block;
  color: #232323;
  font-weight: 900;
}

#navbar .side-menu .side-contact-info li .icon {
  font-size: 40px;
  color: #437eeb;
  padding-right: 15px;
}

#navbar .side-menu .side-additional-links li {
  color: #232323;
  margin-bottom: 15px;
  font-weight: 700;
}

#navbar .side-menu .side-additional-links li:last-child {
  margin: 0;
}

#navbar .side-menu .side-sosial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar .side-menu .side-sosial ul .facebook {
  background-color: #3b5998;
}

#navbar .side-menu .side-sosial ul .twitter {
  background-color: #1da1f2;
}

#navbar .side-menu .side-sosial ul .pinterest {
  background-color: #bd081c;
}

#navbar .side-menu .side-sosial ul .dribbble {
  background-color: #ea4c89;
}

#navbar .side-menu .side-sosial ul a {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  margin-right: 5px;
  margin-top: 5px;
  color: #ffffff;
}

#navbar .open {
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#navbar .active {
  color: #437eeb !important;
}

#navbar a.active::after {
  color: #437eeb !important;
}

#applying-data-science {
  background: -webkit-gradient(linear, left top, right top, color-stop(36%, #f4f7fc), to(white));
  background: linear-gradient(90deg, #f4f7fc 36%, white 100%);
}

#applying-data-science .content {
  margin-top: 80px;
  margin-bottom: 80px;
}

#applying-data-science .content h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 30px;
}

#applying-data-science .content h1 span {
  font-size: 36px;
  display: block;
  font-weight: 200;
  margin-bottom: 20px;
}

#applying-data-science .content a {
  margin-top: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background-image: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 15px 40px;
}

#applying-data-science .content a i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 10px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}

#applying-data-science .content a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background-image: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
}

#applying-data-science .image img {
  max-width: 115%;
  height: auto;
  margin-left: 30px;
  overflow: hidden;
}

#first-slider {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

#first-slider .slider .owl-dots span {
  display: block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
}

#first-slider .slider .active span {
  position: relative;
}

#first-slider .slider .active span::after {
  content: "";
  position: absolute;
  left: 40%;
  top: 40%;
  line-height: 5px;
  height: 5px;
  width: 5px;
  background-color: #437eeb;
  border-radius: 50%;
}

#first-slider .item {
  margin-bottom: 25px;
}

#first-slider .item .content {
  margin: 10px;
  padding: 50px;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
  border-radius: 10px;
  border-bottom: 3px solid #437eeb;
}

#first-slider .item .content .icon {
  font-size: 60px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#031941), to(#437eeb));
  background: linear-gradient(90deg, #031941 0%, #437eeb 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#first-slider .item .content .icon::after {
  position: absolute;
  left: -10px;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(62.5deg, transparent, rgba(237, 245, 255, 0.9));
  z-index: -1;
  border-radius: 10px;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

#first-slider .item .content h3 {
  margin-bottom: 25px;
  font-weight: 700;
}

#first-slider .item .content a {
  color: #437eeb;
  padding: 13px 40px;
  border: 1px solid #e7e7e7;
  font-weight: 700;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#first-slider .item .content a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
  z-index: -1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#first-slider .item .content a:hover {
  color: #ffffff;
}

#first-slider .item .content a:hover::after {
  left: 0;
}

#first-slider .background-image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#first-slider .background-image img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#about {
  background-color: #f4f7fc;
}

#about h4 {
  font-weight: 800;
  color: #437eeb;
  font-size: 20px;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 15px;
}

#about h4::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 10px;
  width: 100%;
  background: #437eeb;
  z-index: -1;
  opacity: 0.1;
}

#about h2 {
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
  font-size: 36px;
  padding-bottom: 20px;
}

#about .tabs {
  margin-top: 50px;
}

#about .tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
}

#about .tabs ul a {
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: 700;
  color: #666666;
  position: relative;
}

#about .tabs ul a.active {
  background: -webkit-gradient(linear, left top, right top, from(#1e55bd), to(#437eeb));
  background: linear-gradient(90deg, #1e55bd 0%, #437eeb 100%);
  color: #ffffff;
}

#about .tabs ul a.active::after {
  position: absolute;
  left: 50%;
  bottom: -15px;
  content: "";
  height: 15px;
  width: 1px;
  background: #437eeb;
}

#about .tabs ul a.active::before {
  position: absolute;
  left: 50.3%;
  bottom: -24px;
  content: "";
  height: 10px;
  width: 10px;
  border: 2px solid #437eeb;
  margin-left: -5px;
  border-radius: 50%;
}

#about .tabs .col-lg-7 {
  padding-right: 35px;
}

#about .tabs .tab-content {
  padding: 50px;
  background: #ffffff;
  border-top: 3px solid #437eeb;
  -webkit-box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
          box-shadow: 0 5px 30px 0 rgba(214, 215, 216, 0.57);
  border-bottom: none;
}

#about .tabs .tab-content h3 {
  margin-bottom: 20px;
  font-weight: 700;
}

#about .tabs .tab-content a {
  margin-top: 10px;
  color: #437eeb;
  padding: 13px 40px;
  border: 1px solid #e7e7e7;
  font-weight: 700;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#about .tabs .tab-content a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#437eeb), to(#1e55bd));
  background: linear-gradient(90deg, #437eeb 0%, #1e55bd 100%);
  z-index: -1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#about .tabs .tab-content a:hover {
  color: #ffffff;
}

#about .tabs .tab-content a:hover::after {
  left: 0;
}

#about .tabs .tab-content .tab-image img {
  max-width: 100%;
}

#about .tabs .hide {
  display: none;
}

#fun-factor-area {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("http://thememine.net/themeforest/anada/assets/img/map.svg");
  background-color: #f4f7fc;
}

#fun-factor-area .content {
  text-align: center;
}

#fun-factor-area .content .numscroller {
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(90deg, #031941 0%, #437eeb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#fun-factor-area .content span {
  font-weight: 600;
  font-size: 18px;
  color: #232323;
}
/*# sourceMappingURL=style.css.map */