// color
$primary-color: #437eeb;
$white-color: #ffffff;
$navbar-black-color: #333333;
$black-color: #232323;
$gray-color: #666666;
$section-background-color: #f4f7fc;

// font-family
$primary_font_family: 'Nunito', sans-serif;